/*
#title {
	font-family: 'Bungee Hairline', sans-serif;
	font-size: 45px;
	text-align: center;
	line-height: 50px;
	color: #ede8e8;
	text-decoration: none;
}


#Wrapper {
	display: flex;
	justify-content: space-around; 
	align-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	height: 60vh;
	min-height: 250px;
}

.ChoiceBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 45%;
	height: 100%;
	padding: 0px;
	margin: 10px;
	background-color: rgba(215, 234, 239, 0.8);
	color: #134e5e;
	font-family: 'Bungee Hairline', cursive;
	font-weight: 100;
	transition: 0.2s;
	overflow: visible;
	text-align: center;
	min-width: 250px;
}

.ChoiceBox h1 {
	line-height: 40px;
	padding: 0;
}

.ChoiceBox p {
	font-weight: 600;
	padding: 0px 20px;
}

.ChoiceBox:hover {
	background-color: rgba(215, 234, 239, 1);
}

*/